ultralytics
termcolor
gdown
tqdm
cpuinfo

# Other requirements optional (will be download if needed by ultralytics)

# tensorflow
# onnx2tf
# onnx 
# sng4onnx 
# onnxsim 
# onnx_graphsurgeon 
# flatbuffers 
# onnxruntime
# tf_keras
# tflite_support